---
layout: bare
title: "Linux App Summit 2021"
permalink: /
---

<img src="assets/LAS2021-WebBanner-text.svg" style="margin: 0" />

<hr/>
<div class="las-banner" style="background-color: #121b86">
    <h2>ABOUT</h2>
    <p>
        The Linux App Summit (LAS) brings the global Linux community together to learn, collaborate, and help grow the Linux application ecosystem. Through talks, panels, and Q&amp;A sessions, we encourage attendees to share ideas, make connections, and join our goal of building a common app ecosystem.
    </p>

    <button class="button" onclick="window.location.href='/whatis'">Read More</button>
</div>

<hr/>
<div class="las-banner" style="background-color: white; color: black;">
    <h2>HOST US</h2>
    <p>We are looking for locations to host our next edition. Consider bringing LAS 2022 to your city!</p>

    <button class="button" onclick="window.location.href='https://linuxappsummit.org/cfl'">Learn more</button>
</div>

<hr/>

<div class="las-banner" style="background-color: white; color: black;">
    <h2>PAST EDITIONS</h2>
    <p>We Follow LAS on Twitter <a href="https://twitter.com/LinuxAppSummit">@linuxappsummit</a>. You can find videos from our previous editions in our <a href="https://www.youtube.com/channel/UCjSsbz2TDxIxBEarbDzNQ4w">YouTube channel</a>.</p>
</div>

<hr/>

<div class="las-banner" style="background-color: white; color: black;">
    <h2>SPONSORS (LAS 2021)</h2>
    <div class="sponsors">
        <img src="/assets/canonical.png" alt="Canonical" />
        <img src="/assets/jingling.png" alt="JingLing"/>
        <img src="/assets/collabora.svg" alt="Collabora"/>
        <img src="/assets/codethink.svg" alt="Codethink"/>
        <img src="/assets/opensuse.png" alt="openSUSE"/>
        <img src="/assets/mbition.svg" alt="MBition"/>
        <img src="/assets/fedora.svg" alt="Fedora"/>
        <img src="/assets/tuxedo.svg" alt="Tuxedo" />
        <img src="/assets/pine.png" alt="Pine64"/>
        <img src="/assets/shells.png" alt="Shells"/>
        <img src="/assets/slimbook.svg" alt="Slimbook"/>
        <img src="/assets/gitlab.svg" alt="GitLab"/>
        <img src="/assets/redhat.png" alt="Red Hat" />
        <img src="/assets/itrenew.jpg" alt="ITRenew"/>
    </div>
    <button class="button" onclick="window.location.href='/sponsors'">Learn More</button>
</div>

<hr/>
